#container {
  margin: 0;

  input,
  select {
    outline: none;
  }
}

body {
  table {
    margin: 0;

    td,
    th {
      background: none;
      border: 0;
      padding: 0;
      vertical-align: top;
    }
  }
}

.label {
  color: #222;
  padding-right: 0;
  width: 120px;
}

button {
  &.blue-shade {
    @include background-image-gradient('#83bce8 5%, #065084 100%');
    @include border-radius(4px);
    background-color: $standard-blue;
    border: 1px solid #7a99aa;
    border-top-color: #c9dce7;
    color: #fff;
    filter: none;
    text-decoration: none;
    text-shadow: 1px 1px 0 #7c7e93;
    white-space: nowrap;

    &:hover {
      @include background-image-gradient('#065084 0, #83bce8 100%');
      background-color: #076aaf;
      filter: none;
    }
  }
}

#attribution {
  float: left;
  padding: 0.5em 1em;
}
