<% if (currentPage === 1) { %>
  <span><i class="svg-icon icon-chevron-left disabled"></i></span>
  <span>1</span>
<% } else { %>
  <span><a class="prev" title="Go to previous page"><i class="svg-icon icon-chevron-left"></i></a></span>
  <span><a class="page_selector" title="Go to page 1">1</a></span>
<% } %>


<% if (showPreviousEllipsis) { %>
  <span>...</span>
<% } %>

<% for (page = firstMiddlePage; page <= lastMiddlePage; page++) {
     if (currentPage === page) { %>
       <span><%= page %></span>
<%   } else { %>
       <span><a class="page_selector" title="Go to page <%= page %>"><%= page %></a></span>
<%   }
   } %>

<% if (showNextEllipsis) { %>
  <span>...</span>
<% } %>


<% if (currentPage === lastPage) { %>
  <span><%= lastPage %></span>
  <span><i class="svg-icon icon-chevron-right disabled"></i></span>
<% } else { %>
  <span><a class="page_selector" title="Go to page <%= lastPage %>"><%= lastPage %></a></span>
<span><a class="next" title="Go to next page"><i class="svg-icon icon-chevron-right"></i></a></span>
<% } %>
