*.iml
.DS_Store
.floo
.idea
.project
.sublime-project
dist/
local_config.yaml
root.dir
reports

# /
/.Xauthority*
/.bundle/
/.grunt/
/.sass-cache/
/_SpecRunner.html
/build
/node_modules
/src/css
/src/index*.html
/tmp
/vendor/
docs/

\#*\#
\.\#*
*~
.rake_t_cache

# begin vagrant-nsidc
#
# the following entries were added by the vagrant-nsidc plugin when you ran
# `vagrant nsidc init`

.vagrant*/

.nsidc-project.yaml

/puppet/.librarian/
/puppet/.tmp/
/puppet/Puppetfile.lock
/puppet/modules/

# end vagrant-nsidc

# Local development configuration files
.vscode/
.tmuxp.yaml
.vimlocal
