.project
root.dir
local_config.yaml
.DS_Store
.idea
*.iml
.floo
.sublime-project
package-lock.json

# /
/build
/tmp
/node_modules
/.grunt/
/_SpecRunner.html
/.sass-cache/
/src/css
/src/index*.html
/.bundle/
/vendor/
/.Xauthority*

\#*\#
\.\#*
*~
.rake_t_cache

# begin vagrant-nsidc
#
# the following entries were added by the vagrant-nsidc plugin when you ran
# `vagrant nsidc init`

.vagrant*/

.nsidc-project.yaml

/puppet/.librarian/
/puppet/.tmp/
/puppet/Puppetfile.lock
/puppet/modules/

# end vagrant-nsidc
