extends index-layout

block body
    #container.container
      #main-content

    #view-template-script-container

block project-css
  link(rel='canonical',href='//arctic-data-explorer.labs.nsidc.org')
  link(href='css/ade-search.css',rel='stylesheet',type='text/css')
