extends index-layout

block body
    #container.container
      #main-content
    #view-template-script-container

block project-css
  link(rel='canonical',href='http://www.nsidc.org/acadis/search/')
  link(href='css/ade-search.css',rel='stylesheet',type='text/css')
