doctype
html
  head
    title #{title}
    | <!--#include virtual="/ssi/styles.ssi" -->
    | <!--#include virtual="/ssi/secondary_styles.ssi" -->
    | <!--#include virtual="/ssi/scripts.ssi" -->
    link(href='contrib/bootstrap/docs/assets/css/bootstrap.css',rel='stylesheet',type='text/css')
    link(href='contrib/fontawesome/css/font-awesome.min.css',rel='stylesheet',type='text/css')
    link(href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css',rel='stylesheet',type='text/css')
    link(href='contrib/bootstrap-datepicker/datepicker.css',rel='stylesheet',type='text/css')
    link(href='contrib/tipsy/src/stylesheets/tipsy.css',rel='stylesheet',type='text/css')
    block project-css

    script(type='text/javascript')
      var nsidc = nsidc || {};
      WEB_SOCKET_SWF_LOCATION = "contrib/websocketjs/WebSocketMain.swf";
      nsidc.project = "#{project}";
      nsidc.environment = "#{environment}";

  body
    object(width='0',height='0')
      embed(src='contrib/web-socket-js/WebSocketMain.swf',width='0',height='0')

    #wrapper
      | <!--#include virtual="/ssi/nsidc.ssi" -->
      #container.container
        #main-content
        block footer
      #view-template-script-container

    script(data-main="scripts/main",src='contrib/requirejs/require.js')
