doctype
html
  head
    title #{title}

    block nsidc-ssi

    link(href='contrib/bootstrap/css/bootstrap.min.css',rel='stylesheet',type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css',rel='stylesheet',type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css',rel='stylesheet',type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css',rel='stylesheet',type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css',rel='stylesheet',type='text/css')
    block project-css

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js')

    script(src='contrib/proj4js/proj4js-1.1.0-compressed.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js')
    script(src='contrib/jquery-ui-message/jquery-ui-message-1.5.37.min.js')
    script(src='contrib/opensearchlight/OpenSearchlight.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js')
    script(src='contrib/bootstrap/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.2/leaflet-dvf.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js')
    script(src='contrib/tipsy/javascripts/jquery.tipsy.js')
    script(src='https://bitbucket.org/nsidc/ie-warn/raw/master/build/ie-warn-latest.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js')

    object(width='0', height='0')
      embed(src='https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/WebSocketMain.swf', width='0', height='0', style="position:absolute")

    script(type='text/javascript')
      // extend underscore with underscore.string
      _.mixin(_.str.exports());

      var nsidc = nsidc || {};
      WEB_SOCKET_SWF_LOCATION = "https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/WebSocketMain.swf";
      nsidc.project = "#{project}";
      nsidc.environment = "#{environment}";

    script(data-main="scripts/main",src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js')
  body
    block body
