extends index-layout

block nsidc-ssi
    | <!--#include virtual="/ssi/styles.ssi" -->
    | <!--#include virtual="/ssi/secondary_styles.ssi" -->
    | <!--#include virtual="/ssi/scripts.ssi" -->

block body
    #wrapper
      | <!--#include virtual="/ssi/nsidc.ssi" -->
      #container.container
        #main-content
        | <!--#include virtual="/ssi/nsidc_footer.ssi" -->
        #footer-small-text
          | #{title} v.#{version} | Map Images &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors
        #view-template-script-container

block project-css
  link(rel='canonical',href='https://www.nsidc.org/data/search/')
  link(href='css/nsidc-search.css',rel='stylesheet',type='text/css')
