#spatial-options {
  float: left;
  margin: 0;
  padding: 0 10px;
  width: $header-spatial-options-width;
}

#globe-logo {
  background: url(img('nsidc-globe-logo.png')) no-repeat;
  background-size: 167px 100px;
  cursor: pointer;
  float: left;
  height: 100px;
  width: 167px;
  margin: 8px 0;
}
