// rules for selectors shared between the projects go here
// different values for the different projects can be configured with variables

$header-font-size: 12px;

.results-header {
  margin: 15px 0 10px;
  width: 100%;

  &.btn-group {
    font-size: $header-font-size;

    button {
      font-family: $default-font-family;
      margin: 0;
      vertical-align: baseline;
    }
  }

  > div {
    clear: none;
    float: left;
    margin: 0;

    &.btn-group {
      font-size: $header-font-size;
      vertical-align: baseline;
    }

    &.results-count {
      vertical-align: baseline;
      width: 30%;

      p {
        margin: 2px 0;
      }
    }

    &.result-options {
      text-align: right;
      width: 70%;

      label {
        font-size: $header-font-size;
        margin-right: 3px;
        vertical-align: baseline;
      }

    }

  }

  // lining up the bootstrap dropdowns with the buttons that open them
  .sort-results {
    ul {
      left: 44px;
    }
  }

  .results-per-page {
    ul {
      left: 56px;
    }
  }
}
