.loading-results-ajax {
  opacity: .7;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.dataset-title {
  width: 740px;

  a {
    font-size: 1.05em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.spatial-row {
  padding-bottom: 2px;
}

.spatial-coverage {
  float: left;
  padding: 0 10px 15px 0;

  &:hover {
    &:after {
      top: 111px;
    }
  }
}

.temporal-results {
  padding-bottom: 3px;

  &:last-child {
    padding-bottom: 0;
  }
}

.authoritative-id {
  color: rgb(100, 100, 100);
  float: left;
  font-size: 80%;
  margin: 15px 0 0;
  text-decoration: none;

  &:visited {
    color: rgb(100, 100, 100);
    float: left;
    font-size: 80%;
    margin: 15px 0 0;
    text-decoration: none;
  }
}

.pipe-separated-value {
  border-right: 1px solid rgb(195, 195, 195);
  float: left;
  margin-right: 6px;
  padding-right: 6px;

  &:last-child {
    border-right: 0;
    margin: 0;
    padding: 0;
  }
}

.section {
  height: 2.2em;
  overflow: hidden;
  position: relative;

  a {
    cursor: pointer;
  }

  .showMore {
    background-image: url(img('show-more-bkg.png'));
    padding: 0 0 2px 45px;
    position: absolute;
    right: 0;
    top: 1.1em;
  }

  .collapseButton {
    display: block;
    margin-top: 3px;
    padding-right: 15px;
    text-decoration: none;
  }

}

.expanded {
  height: auto;

  .hidden {
    display: none;
  }

}

.results-text {
  padding-bottom: 7px;
  width: 630px;
}
