$header-top-margin: 15px;
$header-bottom-margin: 15px;
$header-title-bottom-margin: 15px;

#home-left,
#home-main,
#home-right {
  display: table-cell;
  padding-bottom: 10px;
  vertical-align: top;
}

#home-left,
#home-right {
  background: #f5f9ff;

  // line up the "examples" column (left) and the wolf image (right) with the
  // top of the data centers table
  padding-top: 50px + $header-top-margin + $header-bottom-margin + $header-title-bottom-margin;
  width: 220px;
}

#home-main {
  background-color: #fff;
  text-align: center;
  width: 60%;

  h3 {
    margin-bottom: $header-title-bottom-margin;
    margin-top: $header-top-margin;
  }

  #home-header {
    margin-bottom: $header-bottom-margin;

    h3 {
      font-size: 24px;
    }
  }

  div,
  table {
    margin-left: auto;
    margin-right: auto;
    width: 91%;
  }

  table {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;

    td.count_cell {
      text-align: right;
      white-space: nowrap;
    }

  }

}

#home-left {
  h4 {
    color: rgb(11, 75, 194);
  }

  h4,
  p {
    margin: 0 10px;
    padding: 0 10px;
  }

}

#home-right {
  position: relative;
  text-align: center;

  img {
    width: 195px;
  }

}
