// rules for selectors shared between the projects go here
// different values for the different projects can be configured with variables

#right-column {
  padding: 0 20px;
  width: 850px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 15px;
  }

}

.result-item {
  border-top: $result-item-border;
  clear: left;
  line-height: 1.1em;
  margin-bottom: 2px;
  max-width: 850px;
  padding-right: 0;
  position: relative;
  word-wrap: break-word;
}

// This will prevent extra padding in the spatial
// coverage div
.result-item .spatial-coverage {
  word-wrap: normal;
}

.results-text {
  padding-bottom: 7px;
  width: 100%;
}
