@import 'config_common';

$project: 'nsidc';

// global
$body-color: #444;

// header
$combo-box-drop-down-border-radius: 0 $default-border-radius $default-border-radius 0;
$combo-box-input-border-radius: $default-border-radius 0 0 $default-border-radius;

$header-bg: #f9f9f9;
$header-bg-position: 0;

$header-search-criteria-width: 877px;
$header-search-criteria-margin: 15px 15px 0 0;
$search-criteria-add-on-border-left-color: rgba(0, 0, 0, .2);
$search-criteria-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
$search-criteria-input-border: 1px inset rgba(0, 0, 0, .2);

$header-spatial-container-width: 275px;
$header-spatial-container-margin: 15px 0;
$header-spatial-options-width: 225px;

// width for keyword input box and the auto-suggest drop-down
$header-keyword-container-width: 660px;
$header-keyword-input-width: 620px;

// the "Search" button
$find-data-font-size: 14px;

$facet-li-padding: 0 7px 0 0;
