#container {
  margin: 0 auto;
}

.container button.blue-shade {
  @include background-image(linear-gradient(#94abda 1%, #1d326e 40%));
  @include border-radius();
  @include box-shadow($search-criteria-box-shadow);
  @include text-shadow(1px 1px 8px #999);

  background: url(img('buttonBlueBg.gif')) repeat 0 0 transparent;
  border: 0;
  color: #f7f7f7;
  cursor: pointer;
  font-size: 1em;
  height: 28px;
  margin: 0;
  outline: none;
  padding: 0 17px;
  width: 126px;

  &:hover,
  &:active {
    @include text-shadow(1px 1px #1d326e);

    background: url(img('buttonBlueBg.gif')) repeat 0 -7px transparent;
  }
}

.label {
  padding-right: 5px;
  width: 135px;
}

#content {
  background-color: #fff;
}
