#container {
  margin: 0;

  input,
  select {
    outline: none;
  }
}

body {
  table {
    margin: 0;

    td,
    th {
      background: none;
      border: 0;
      padding: 0;
      vertical-align: top;
    }
  }
}

.label {
  color: #222;
  padding-right: 0;
  width: 120px;
}

// if we just use "button" instead of ".container button" here, the bootstrap
// button stylings will have precedence over these stylings
#search-criteria {
  .blue-shade {
      background-color: #065084;
      background-image: linear-gradient(#83bce8 5%, #065084 100%);
      border: 1px solid #7a99aa;
      border-radius: 4px;
      border-top-color: #c9dce7;
      color: #fff;
      filter: none;
      text-decoration: none;
      text-shadow: 1px 1px 0 #7c7e93;
      white-space: nowrap;

      &:hover {
        background-color: #076aaf;
        background-image: linear-gradient(#065084 0, #83bce8 100%);
        filter: none;
      }
  }
}

// landing page
#home-main {
  height: 350px;
  position: relative;
  text-align: center;
  width: 1100px;
}

#home-content {
  margin: 40px 200px;
  width: 700px;

  h2 {
    color: #1e4285;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 24px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  a {
    color: #000;

    :hover {
      color: #1e4285;
    }
  }
}

// footer
#footerNSIDC {
  margin-bottom: 0;
}

#footer-small-text {
  background-color: #002248;
  color: #fff;
  font-size: .8em;
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;

  a {
    color: #c9e1f9;
  }

}
