<div id="home-left">

  <p class="ie-warn highlighting"/>

  <div id="acadis-logo">
    <a id="identifier" href="http://www.aoncadis.org">ACADIS</a>
  </div>
  <img src="images/sep_12_Benter_walrus_group_3.jpg" alt=”group of walrus”>
</div>
<div id="home-main">
  <h2>About</h2>
  <img src="images/screen-shot-282.jpg" id="search-now" alt="Click here to begin searching!"><p>The Arctic Data Explorer lets you search
    multiple repositories with one click. Here you will find diverse Arctic
    research data from many domains.</p>
  <p>View our new <a href="http://www.youtube.com/watch?v=vu1AcHA2BBE" target="_blank">Promotional Video</a> in partnership with Earthcube and IEEE.</p>
  <p>Search currently includes:</p>
  <ul class="live-data-centers" />
  <p>We will be adding new repositories, check back for more complete data coverage.</p>
  <p>Suggestions welcome! Contact us: <a href="mailto:support@aoncadis.org">support@aoncadis.org</a> or by phone at (720)443-1409</p>
  <div>
    <h3>Examples of Arctic Data Archived and Available:</h3>
    <div class="three-column">
      <ul class="example-terms">
        <li><a href="#">Sea ice</a></li>
        <li><a href="#">Biology</a></li>
        <li><a href="#">Permafrost</a></li>
        <li><a href="#">Meteorology</a></li>
        <li><a href="#">Economics</a></li>
        <li><a href="#">Hydrography</a></li>
        <li><a href="#">Physical Oceanography</a></li>
        <li><a href="#">Biodiversity</a></li>
        <li><a href="#">Terrestrial ecology</a></li>
        <li><a href="#">Chemistry</a></li>
        <li><a href="#">Local and Traditional Knowledge</a></li>
      </ul>
    </div>
  </div>
</div>
