<div id="home-main">
  <div id="home-content">
    <h2>
      Data Sets for Researchers
    </h2>
    <p>
      Choose from hundreds of scientific data sets, focusing on the cryosphere and its interactions.
      Data are from satellites and field observations, and are from NASA, NSF, NOAA, and other programs.
      <br/>
      All data are <strong>free of charge</strong>
    </p>
    <p>
      Looking for quick facts and information? See our <a href="/cryosphere">Cryosphere section</a>.
    </p>

    <p class="ie-warn highlighting"></p>

  </div>
</div>
