<div id="home-left">

  <div>
    <h4>Examples of Available Data</h4>
    <ul class="example-terms">
      <li><a href="#">Sea ice</a></li>
      <li><a href="#">Biology</a></li>
      <li><a href="#">Permafrost</a></li>
      <li><a href="#">Meteorology</a></li>
      <li><a href="#">Economics</a></li>
      <li><a href="#">Hydrography</a></li>
      <li><a href="#">Oceanography</a></li>
      <li><a href="#">Biodiversity</a></li>
      <li><a href="#">Terrestrial ecology</a></li>
      <li><a href="#">Chemistry</a></li>
      <li><a href="#">Local and Traditional Knowledge</a></li>
    </ul>
  </div>

  <p>
    Earthcube and IEEE video on
    <a href="http://www.youtube.com/watch?v=vu1AcHA2BBE" target="_blank">how the
    Arctic Data Explorer works.</a>
  </p>

</div>
<div id="home-main">

  <div id="home-header">
    <h3>Diverse Arctic Research Data</h3>

    <p>
      Search multiple repositories in one convenient place. Search results will
      direct you towards free data downloads.
    </p>
  </div>

  <table class="live-data-centers">
    <tr>
      <th>Repository Name</th>
      <th>Datasets</th>
    </tr>
  </table>

  <div id="home-footer">
    <p>We will be adding new repositories, check back for more complete data
      coverage.</p>

    <p>
      If you have any questions, you can visit
      our <a href="http://nsidc.org/acadis/FAQ.html" target="_blank">FAQ page</a> or contact us
      at <a href="mailto:support@aoncadis.org">support@aoncadis.org</a> or (720)
      443-1409
    </p>

    <p>
      For more information, see
      <a href="/acadis/aboutADE.html" target="_blank">About the Arctic Data
      Explorer</a>.
    </p>
  </div>

</div>
<div id="home-right">
  <img id="fox" src="images/polar-fox.png">

  <a id="acadis-logo" href="/acadis" target="_blank"><img src="images/acadis-logo.png"></a>

</div>
