#acadis-logo {
  margin: 0;

  &-results {
    margin-top: 50px;
    width: 198px;
  }
}

#identifier {
  background: url(img('acadis-logo.png')) center center no-repeat;
  background-size: 200px;
  display: block;
  height: 100px;
  text-indent: $indent-disappear;
}

#facets .facet {
  margin-bottom: 17px;
}
