#head-text {
  @include text-shadow(3px 3px 5px rgba(0, 0, 0, .3));
  color: rgb(45, 77, 186);
  cursor: pointer;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  margin: 10px 95px 6px 15px;
  text-decoration: none;
  width: 107px;
}

#spatial-search-box {
  input {
    float: left;
    margin: 0;
    padding: 0 10px;

    &#spatial-options-north,
    &#spatial-options-south {
        width: 40px;
    }

    &#spatial-options-east,
    &#spatial-options-west {
        width: 45px;
    }
  }

  label {
    float: left;
    padding: 4px 5px 0 0;
    margin-left: 8px;
    margin-right: 1px;
  }
}

.geospatialInputFieldsNsew #northInput {
  clear: right;
}

.geospatialInputFieldsNsew #northInput,
.geospatialInputFieldsNsew #southInput {
  display: block;
  margin-left: 120px;
  margin-right: 120px;
}

.geospatialInputFieldsNsew #eastInput {
  clear: right;
}

.geospatialInputFieldsNsew #westInput {
  clear: left;
  margin-left: 20px;
  margin-right: 58px;
  margin-top: 10px;
}

#globe-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 10px;
}
