#globe-logo {
  background: url(img('nsidc-globe-logo.png')) no-repeat;
  background-size: 167px 100px;
  cursor: pointer;
  float: left;
  height: 100px;
  margin: 15px 26px 0 15px;
  width: 167px;
}
