#head-info {
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 5px;
  position: absolute;
}

#head-title {
  @include text-shadow(3px 3px 5px rgba(0, 0, 0, .3));
  color: rgb(45, 77, 186);
  cursor: pointer;
  font-size: 23px;
  line-height: 1.2em;
  margin: auto;
  text-decoration: none;
}

#labs-image {
  height: 4em;
}

#feedback-link {
  font-size: .85em;
  margin: auto;
  position: absolute;
}

#spatial-search-box {
  input {
    float: left;
    margin: 0;
    padding: 0 10px;
  }

  label {
    float: left;
    margin-left: 8px;
    margin-right: 1px;
    padding: 4px 5px 0 0;
  }
}

#spatial-options-north,
#spatial-options-south {
  width: 40px;
}

#spatial-options-east,
#spatial-options-west {
  width: 45px;
}

.geospatialInputFieldsNsew #northInput {
  clear: right;
}

.geospatialInputFieldsNsew #northInput,
.geospatialInputFieldsNsew #southInput {
  display: block;
  margin-left: 120px;
  margin-right: 120px;
}

.geospatialInputFieldsNsew #eastInput {
  clear: right;
}

.geospatialInputFieldsNsew #westInput {
  clear: left;
  margin-left: 20px;
  margin-right: 58px;
  margin-top: 10px;
}

#globe-button {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 10px;
}
