<label for="spatial-options-north">N: </label><input name="spatial-options-north" id="spatial-options-north" class="keyboard-active tt-input" value="<%= north %>"/>
<label for="spatial-options-south">S: </label><input name="spatial-options-south" id="spatial-options-south" class="keyboard-active tt-input" value="<%= south %>"/>
<label for="spatial-options-east">E: </label><input name="spatial-options-east" id="spatial-options-east" class="keyboard-active tt-input" value="<%= east %>"/>
<label for="spatial-options-west">W: </label><input name="spatial-options-west" id="spatial-options-west" class="keyboard-active tt-input" value="<%= west %>"/>
<span id="globe-button" title="Set Spatial Boundaries" class="combo-box-drop-down spatial-trigger"></span>
