<div id="temporal-box">
  <label for="start-date">From</label>

  <div class="input-append date start-date">
    <input id="start-date"
           class="combo-box-input keyboard-active"
           placeholder="yyyy-mm-dd"
           value="<%= startDate %>">
    <span class="add-on" />
  </div>

  <label for="end-date">to</label>

  <div class="input-append date end-date">
    <input id="end-date"
           class="combo-box-input keyboard-active"
           placeholder="yyyy-mm-dd"
           value="<%= endDate %>">
    <span class="add-on" />
  </div>
</div>
